{
	"recruit": {
		"is_pause": false,
		"start_time": 21,
		"end_time": 25,
		"send_time": "07:00",
		"send_channel_id": [
			678259997754523680,
			678260017539055616
		],
		"reactions": [
			"*⃣",
			"1⃣",
			"2⃣",
			"3⃣",
			"4⃣",
			"5⃣",
			"6⃣",
			"7⃣",
			"8⃣",
			"9⃣"
		],
		"rookie_role_id": 678259897082707969,
		"max_rookie_cnt": 3
	}
}